<!-- header start -->
<nav class="navbar navbar-expand-lg bg-light fixed-top ">
  <div class="container-fluid justify-content-end">
    <!-- <a class="navbar-brand" href="#" routerLink="/">GreenWorld</a> -->

    <div class="nav navbar">
      <ul>
        <li>
          <a class="nav-link" href="#" routerLink="/index" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a class="nav-link" href="#" routerLink="../campaigns" routerLinkActive="active">Campaigns</a>
        </li>
        <li>
          <a class="nav-link" href="#" routerLink="../events" routerLinkActive="active">Events</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Pages</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="../about" href="#">About Us</a></li>
            <li><a class="dropdown-item" routerLink="../blogs" href="#">Blogs</a></li>
            <li><a class="dropdown-item" routerLink="../contacts" href="#">Contact Us</a></li>
            <li><a class="dropdown-item" routerLink="../volunteers" href="#">Volunteers</a></li>
          </ul>
        </li>
      </ul>
      <li class="mx-4">
      <button type="button" class="btn btn-success">Donate</button>
      </li>
      <i class="bi bi-list mobile-nav-toggle mx-3"></i>
    </div><!-- .navbar -->
    

  </div>
</nav><!-- End Header -->