<!-- <app-header></app-header> -->
<section id="greenTop" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="text-light">Let your life be inspiration</h1>
    <h2 class="text-light">One Tree One Life</h2>
    <div class="p-5"></div>
    <a href="#" class="btn btn-success btn-lg btn-rounded">Donate Now</a>
    <a href="#" class="mx-4 btn btn-outline-light btn-lg btn-rounded">Read More</a>
  </div>
</section>
<!-- End Hero -->
<!-- <h2 class="ms-5 mt-5">Let's make Difference Today</h2> -->
<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us" style="background-color:#e9faf9">
    <h2 class="ms-5 ps-5 mb-5">Let's Make Difference Today</h2>
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="10">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Become A Volunteer</h4>
                  <p>The forest is only about 5,000 hectares, but a community of almost 200,000 people depend on it for
                    water, wood, and agriculture.</p>
                  <button type="button" class="mt-3 btn btn-warning btn-lg col-lg-6">Join Us</button>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-dollar"></i>
                  <h4>Donate To Support</h4>
                  <p>The forest is only about 5,000 hectares, but a community of almost 200,000 people depend on it for
                    water, wood, and agriculture.</p>
                  <button type="button" class="mt-3 btn btn-warning btn-lg col-lg-6">Donate Now</button>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-user"></i>
                  <h4>Become A Partner</h4>
                  <p>The forest is only about 5,000 hectares, but a community of almost 200,000 people depend on it for
                    water, wood, and agriculture.</p>
                  <button type="button" class="mt-3 btn btn-warning btn-lg col-lg-6">Learn More</button>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 content">
          <strong>
            <h6>ABOUT US</h6>
          </strong>
          <h2>
            Our Work Promise To Uphold The Trust Placed
          </h2>
          <p>We want to make it simple for anyone to help the environment by planting trees. Together we can restore
            forests,
            create habitat for biodiversity, and make a positive social impact around the world.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-check-circle"></i> planting trees planting trees</li>
                <li><i class="bi bi-check-circle"></i> planting trees planting trees</li>
                <li><i class="bi bi-check-circle"></i> watering trees watering trees</li>
                <li><i class="bi bi-check-circle"></i> watering trees</li>
              </ul>
            </div>
            <div class="col-lg-4 ms-5 ps-5">
              <div class="card" style="background-color: orange">
                <h3 class="text-center text-light">28</h3>
                <h5 class="text-center text-light">Years</h5>
                <h6 class="text-center text-light">Of Experience</h6>
              </div>
            </div>
          </div>
          <div class="btn btn-warning btn-lg mt-3">Learn More</div>
        </div>
        <div class="col-lg-6 order-1 order-lg-1" data-aos="fade-left" data-aos-delay="10">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Volunteers</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Sponsors</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Land</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Award</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->


  <!-- ======= Popular Courses Section ======= -->
  <section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <div class="d-flex justify-content-between">
          <div>
            <h2>RECENT CAMPAIGN</h2>
            <p>Campaign Around The World!</p>
          </div>
          <div>
            <a class="btn btn-warning">View All Campaigns</a>
          </div>
        </div>        

      </div>      

      <div class="row" data-aos="zoom-in" data-aos-delay="10">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="course-item">
            <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Web Development</h4>
                <p class="price">$169</p>
              </div>

              <h3><a href="course-details.html">Website Design</a></h3>
              <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem
                tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                  <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                  <span>Antonio</span>
                </div>
                <div class="trainer-rank d-flex align-items-center">
                  <i class="bx bx-user"></i>&nbsp;50
                  &nbsp;&nbsp;
                  <i class="bx bx-heart"></i>&nbsp;65
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Marketing</h4>
                <p class="price">$250</p>
              </div>

              <h3><a href="course-details.html">Search Engine Optimization</a></h3>
              <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem
                tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                  <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                  <span>Lana</span>
                </div>
                <div class="trainer-rank d-flex align-items-center">
                  <i class="bx bx-user"></i>&nbsp;35
                  &nbsp;&nbsp;
                  <i class="bx bx-heart"></i>&nbsp;42
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="course-item">
            <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Content</h4>
                <p class="price">$180</p>
              </div>

              <h3><a href="course-details.html">Copywriting</a></h3>
              <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem
                tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                  <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                  <span>Brandon</span>
                </div>
                <div class="trainer-rank d-flex align-items-center">
                  <i class="bx bx-user"></i>&nbsp;20
                  &nbsp;&nbsp;
                  <i class="bx bx-heart"></i>&nbsp;85
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

      </div>

    </div>
  </section><!-- End Popular Courses Section -->

  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="10">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Walter White</h4>
              <span>Web Development</span>
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut
                aut
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Sarah Jhinson</h4>
              <span>Marketing</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>William Anderson</h4>
              <span>Content</span>
              <p>
                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Trainers Section -->

</main><!-- End #main -->
<!-- <app-footer></app-footer> -->